.hero-webstudio{
  /* WebStudio */

position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 24px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;

color: #2196F3;


}
.hero-studio{
 /* Студія */

position: absolute;
width: 45px;
height: 16px;
left: 453px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196F3;


}
.hero-portfolio{
/* Портфоліо */

position: absolute;
width: 72px;
height: 16px;
left: 548px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;

}
.hero-contact{
 /* Контакти */

position: absolute;
width: 64px;
height: 16px;
left: 670px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #212121;
}
.contact-mail{
/* info@devstudio.com */

position: absolute;
width: 135px;
height: 16px;
left: 1078px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #2196F3;


}
.contact-number{
/* Tel */

position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;



/* +38 096 111 11 11 */

position: absolute;
width: 122px;
height: 16px;
left: 1263px;
top: 32px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}
.img-2{
  
}
.hero-heading{
  /* Ефективні рішення для вашого бізнесу */

  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 275px;
  
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
  color: #FFFFFF;
  
  }
.home-bg{
/* bg */

position: absolute;
width: 216px;
height: 50px;
left: 692px;
top: 430px;

background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

}
.home-posluga{
  /* Замовити послугу */
background-color:#2196F3;
position: absolute;
width: 152px;
height: 30px;
left: 724px;
top: 440px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

color: #FFFFFF;
}
.uvaga{
  /* УВАГА ДО ДЕТАЛЕЙ */

position: absolute;
width: 270px;
height: 16px;
left: 215px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}
.idei{
  /* Ідейні міркування, і навіть початок повсякденної роботи з формування позиції. */

position: absolute;
width: 270px;
height: 72px;
left: 215px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #757575;


}
.punkt{
  /* ПУНКТУАЛЬНІСТЬ */

position: absolute;
width: 270px;
height: 16px;
left: 515px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}
.task{
  /* Завдання організації, особливо рамки і місце навчання кадрів тягне у себе. */

position: absolute;
width: 270px;
height: 48px;
left: 515px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #757575;


}
.plan{
  /* ПЛАНУВАННЯ */

position: absolute;
width: 270px;
height: 16px;
left: 815px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}
.tak{
/* Так само консультація з широким активом значною мірою зумовлює. */

position: absolute;
width: 270px;
height: 48px;
left: 815px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #757575;


}
.teh{
/* СУЧАСНІ ТЕХНОЛОГІЇ */

position: absolute;
width: 270px;
height: 16px;
left: 1115px;
top: 774px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #212121;

}
.pll{
/* Значимість цих проблем настільки очевидна, що реалізація планових завдань. */

position: absolute;
width: 270px;
height: 72px;
left: 1115px;
top: 800px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #757575;

}
.home{
  /* Чим ми займаємося */

position: absolute;
width: 366px;
height: 42px;
left: 617px;
top: 966px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;


}
.img-5{
  /* img */

position: absolute;
width: 370px;
height: 294px;
left: 215px;
top: 1058px;

background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
mix-blend-mode: normal;

}
.img-6{
/* box 2 */

position: absolute;
width: 370px;
height: 294px;
left: 615px;
top: 1058px;



/* img */

position: absolute;
width: 370px;
height: 294px;
left: 615px;
top: 1058px;

background: url(web-ui-designers-are-developing-application-smartphones-team-creators-is-working-interface-mobile-phones_8119-2713.jpg);

}
.img-7{
/* box 3 */

position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 1058px;



/* img */

position: absolute;
width: 370px;
height: 294px;
left: 1015px;
top: 1058px;

background: url(creative-artist-web-design-with-working-colour-selection-graphic-tablet_35674-1119.jpg);

}
.comanda{
  /* Наша команда */

position: absolute;
width: 264px;
height: 42px;
left: 668px;
top: 1540px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.img-8{
  /* img */

position: absolute;
width: 270px;
height: 260px;
left: 215px;
top: 1632px;

background: url(4853.jpg);
border-radius: 0px;

}
.igor{
  /* Ігор Дем'яненко */

position: absolute;
width: 129px;
height: 19px;
left: 286px;
top: 1922px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.robota{
  /* Product Designer */

position: absolute;
width: 130px;
height: 19px;
left: 285px;
top: 1951px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #757575;
}
.img-9{
  /* img */

position: absolute;
width: 270px;
height: 260px;
left: 515px;
top: 1632px;

background: url(5844.jpg);
border-radius: 0px;

}
.olga{
/* Ольга Рєпіна */

position: absolute;
width: 104px;
height: 19px;
left: 598px;
top: 1922px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.robota-2{
/* Frontend Developer */

position: absolute;
width: 147px;
height: 19px;
left: 577px;
top: 1951px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #757575;
}
.img-10{
/* img */

position: absolute;
width: 270px;
height: 260px;
left: 815px;
top: 1632px;

background: url(16166.jpg);
border-radius: 0px;

}
.mykola{
/* Микола Тарасов */

position: absolute;
width: 130px;
height: 19px;
left: 885px;
top: 1922px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.robota-3{
/* Marketing */

position: absolute;
width: 76px;
height: 19px;
left: 912px;
top: 1951px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #757575;
}
.img-11{
/* img */

position: absolute;
width: 270px;
height: 260px;
left: 1115px;
top: 1632px;

background: url(2968);
border-radius: 0px;
}
.misha{
  /* Михайло Єрмаков */

position: absolute;
width: 145px;
height: 19px;
left: 1178px;
top: 1922px;

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #212121;
}
.robota-4{
  /* UI Designer */

position: absolute;
width: 87px;
height: 19px;
left: 1207px;
top: 1951px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */
text-align: center;
letter-spacing: 0.03em;

color: #757575;
}
.footerimg{
  /* Footer bg */

position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2094px;

background: #2F303A;

}
.fotweb{
  /* WebStudio */

position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 2154px;

font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 31px;
/* identical to box height */
letter-spacing: 0.03em;

color: #2196F3;
}

.address{
/* м. Київ, пр-т Лесі Українки, 26 */

position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2205px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */
letter-spacing: 0.03em;

color: #FFFFFF;


}
